/* You can add global styles to this file, and also import other style files */
.new-button{
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: .5em;
  padding-bottom: .5em;
}
