

<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">

    <div class="row">
      <div align="left" class="col-md-2">
        <h5 class="text-uppercase">Contact Us</h5>
        <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a>
      </div>

      <div align="center" class="col-md-8">
        <h5 class="text-uppercase">Partners</h5>
        <img class= "sponsor1" src="../../assets/alliancedata.png">
        <img class= "sponsor2" src="../../assets/safekidslogo_corp_rgb_pos.png">
        <img class= "sponsor3" src="../../assets/ipssa.png">
        <img class= "sponsor4" src="../../assets/Ylogo.png">
        <img class= "sponsor5" src="../../assets/childrensLogo.png">
      </div>

      <div align="right" class="col-md-2">
        <h5 class="text-uppercase">Donate</h5>
        <a href="https://netcommunity.childrens.com/giveonline">Children's Health</a><br>
        <a href="https://www.ymcadallas.org/donate/">YMCA of Metropolitan Dallas</a>
      </div>

    </div>

  </div>
</footer>
