
<footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">Contact Us</h5>
          <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a>

        </div>

          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">Donate</h5>
            <a href="https://netcommunity.childrens.com/giveonline">Children's Health</a><br>
            <a href="https://www.ymcadallas.org/donate/ ">YMCA</a>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">


            <h5 class="text-uppercase">Partners</h5>
            <p>*correct branding for various partners needs to be confirmed*</p>

          </div>
      </div>
      </div>

  </footer>
