<div class="footer">

<div class="contact">
  <h2>Contact Us</h2>
  <p>Email - <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
</div>

<div class="donate">
  <h2>Donate</h2>
    <p>Children's Health - <a href="https://netcommunity.childrens.com/giveonline">https://netcommunity.childrens.com/giveonline</a></p>
    <p>YMCA - <a href="https://www.ymcadallas.org/donate/ ">https://www.ymcadallas.org/donate/ </a></p>
</div>

<div class="partner">
  <h2>Partners</h2>
  <p>*Correct branding for various partners needs to be confirmed*</p>
</div>

</div>
