.page-footer{
  background-color: #363636;
  color: white;
  padding-bottom: 1%;
  font-family: Cachet;
}

a{
  color: #8EC1E8;
}

.sponsor5{
  padding-bottom: 15px;
}

img{
  height: 70px;
  padding-right: 15px;
}
