.page-footer{
  background-color: #363636;
  color: white;
  padding-bottom: 1%;
  font-family: Cachet;
  width: 100%;
}

a{
  color: #8EC1E8;
}

img{
  padding-left: 5px;
}


.sponsor1, .sponsor5{
  width: 15%;
}

.sponsor2, .sponsor3, .sponsor4{
  width: 5%;
}
