<app-navbar></app-navbar>
<app-three-top></app-three-top>
<div class="container bg-light">
<div class="contact-us" id="secondary-header-img-area">
  <h1>Contact Us</h1>
  <p class="header-text">If you would like to donate, volunteer or sponsor a water safety presentation, email <a
      href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
</div>

<h3>Questions?</h3>
<p class="header-text">Complete this form and a YMCA representative will contact you shortly.</p>
<form>
<div class="form-group">
  <label for="inputname">Full Name</label>
<span class="form-required" title="This field is required.">*</span>
  <input type="name" class="form-control" id="inputname" placeholder="Name">
</div>

  <div class="form-group">
<label for="inputemail">Email address</label>
<span class="form-required" title="This field is required.">*</span>
<input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="zip">Zip Code</label>
<span class="form-required" title="This field is required.">*</span>
<input type="zip" class="form-control" id="zipcode" placeholder="ZipCode">
  </div>

  <div class="form-group">
<div class="js-form-item form-item js-form-type-select form-item-find- js-form-item-member-">
  <label for="edit-member-">Are you a Member </label>
  <span class="form-required" title="This field is required.">*</span>
  <select data-drupal-selector="edit-member-" id="edit-member-" name="member" class="form-select form-control text">
    <option value="">Select Yes or No</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
</div>
  </div>

   <div class="form-group">
<div class="js-form-item form-item js-form-type-select form-item-find- js-form-item-find-">
  <label for="edit-find-">How did you hear about us?</label>
  <span class="form-required" title="This field is required.">*</span>
  <select data-drupal-selector="edit-find-" id="edit-find-" name="find" class="form-select form-control text">
    <option value="">Please Select How You Found Us</option>
    <option value="website">Media</option>
    <option value="radio">Radio</option>
    <option value="outdoor">Outdoor Board</option>
    <option value="brochure">Brochure</option>
    <option value="ymca">YMCA Facility</option>
    <option value="friend">Friend or Family</option>
    <option value="other">Other</option>
  </select>
</div>
</div>

<div class="form-group">
<div class="js-form-item form-item js-form-type-select form-item-choose-your-ymca-branch- js-form-item-choose-your-ymca-branch-">
  <label for="edit-choose-your-ymca-branch-">Choose your YMCA branch</label>
<span class="form-required" title="This field is required.">*</span>
  <select data-drupal-selector="edit-choose-your-ymca-branch-" id="edit-choose-your-ymca-branch-" name="choose_your_ymca_branch_"
    class="form-select form-control text">
    <option value="" selected="selected">- None -</option>
    <option value="Coppell Family YMCA">Coppell Family YMCA</option>
    <option value="Cross Timbers Family YMCA">Cross Timbers Family YMCA</option>
    <option value="Grand Prairie Family YMCA">Grand Prairie Family YMCA</option>
    <option value="Irving Family YMCA">Irving Family YMCA</option>
    <option value="J.E.R. Chilton YMCA at Rockwall">J.E.R. Chilton YMCA at Rockwall</option>
    <option value="Lake Highlands Family YMCA">Lake Highlands Family YMCA</option>
    <option value="Lakewest Family YMCA">Lakewest Family YMCA</option>
    <option value="McKinney Family YMCA">McKinney Family YMCA</option>
   <option value="Moody Family YMCA">Moody Family YMCA</option>
    <option value="Moorland Family YMCA">Moorland Family YMCA</option>
    <option value="Oak Cliff Family YMCA">Oak Cliff Family YMCA</option>
    <option value="Richardson Family YMCA">Richardson Family YMCA</option>
    <option value="T. Boone Pickens YMCA">T. Boone Pickens YMCA</option>
    <option value="Town North Family YMCA">Town North Family YMCA</option>
    <option value="Waxahachie Family YMCA">Waxahachie Family YMCA</option>
    <option value="White Rock Family YMCA">White Rock Family YMCA</option>
  </select>
</div>
</div>

<div class="form-group">
<div class="js-form-item form-item js-form-type-select form-item-inquiry- js-form-item-inquiry-">
  <label for="edit-inquiry-">Reason for Inquiry</label>
  <span class="form-required" title="This field is required.">*</span>
  <select data-drupal-selector="edit-inquiry-" id="edit-inquiry-" name="inquiry_" class="form-select form-control text">
    <option value="">Select a Reason For Contacts</option>
    <option value="general">General Question/Feedback</option>
    <option value="presentation">Presentation Request</option>
    <option value="assessment">Swim Assessment</option>
    <option value="swimlessons">Swimming Lessons</option>
    <option value="waterwatchertag">Water Watcher Tag</option>
    <option value="media">Media</option>
    <option value="other">Other</option>
  </select>
</div>
</div>

<div class="form-group">
  <label for="message-text" class="col-form-label">Message/Comments</label>
<span class="form-required" title="This field is required.">*</span>
  <textarea class="form-control" id="message-text"></textarea>
<p>*required fields</p>
</div>
  <button type="submit" class="btn btn-primary">Submit Request</button>
</form>
  <br>
</div>
<app-footer></app-footer>
