<div class="container">
<div class="contact-us" id="secondary-header-img-area">
  <h1>Contact Us</h1>
  <p>If you would like to donate, volunteer or sponsor a
water safety presentation just fill out the form below or email <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
</div>
<div itemscope="" itemtype="http://schema.org/LocalBusiness">
<h2 class="headline"><strong itemprop="name">YMCA Of Metropolitan Dallas <span>- President's Office</span></strong></h2>
  <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">601 N Akard St.</span><br /><span itemprop="addressRegion">Dallas, TX 75201</span>
  </div>
<p> Tel: <span itemprop="telephone"><a href="tel:+12148809622">(214) 880-9622</a></span><br />
Fax: <span itemprop="fax"><a href="fax:+12148713014">(214) 871-3014</a></span><br /></p>
</div>
<h3>Questions?</h3>
<p>Complete this form and a YMCA representative will contact you shortly.</p>
<form>
<div class="form-group">
  <label for="inputname">Full Name</label>
<span class="form-required" title="This field is required.">*</span>
  <input type="name" class="form-control" id="inputname" placeholder="Name">

</div>
  <div class="form-group">
<label for="inputemail">Email address</label>
<span class="form-required" title="This field is required.">*</span>
<input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="zip">Zip Code</label>
<span class="form-required" title="This field is required.">*</span>
<input type="zip" class="form-control" id="zipcode" placeholder="ZipCode">
  </div>
<div id="input-field-div">
 <label for="member">Are you a Member </label>
<span class="form-required" title="This field is required.">*</span>
  <select name="member" id="member" class="select-input-list">
    <option value="">Select Yes or No</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
</div>
  <div id="input-field-div">
<label for="findus">How did you hear about us? </label>
<span class="form-required" title="This field is required.">*</span>
    <select name="find" id="find" class="select-input-list">
      <option value="">Please Select How You Found Us</option>
      <option value="website">Media</option>
      <option value="radio">Radio</option>
      <option value="outdoor">Outdoor Board</option>
      <option value="brochure">Brochure</option>
      <option value="ymca">YMCA Facility</option>
      <option value="friend">Friend or Family</option>
      <option value="other">Other</option>
    </select>
  </div>
<div id="input-field-div">
<label for="inquiry"> Reason for Inquiry</label>
<span class="form-required" title="This field is required.">*</span>
  <select name="inquiry" id="inquiry" class="select-input-list">
    <option value="">Select a Reason For Contacts</option>
    <option value="general">General Question/Feedback</option>
    <option value="presentation">Presentation Request</option>
    <option value="assessment">Swim Assessment</option>
    <option value="swimlessons">Swimming Lessons</option>
    <option value="waterwatchertag">Water Watcher Tag</option>
    <option value="media">Media</option>
    <option value="other">Other</option>
  </select>
</div>
<div class="form-group">
  <label for="message-text" class="col-form-label">Message/Comments</label>
<span class="form-required" title="This field is required.">*</span>
  <textarea class="form-control" id="message-text"></textarea>
<p>*required fields</p>
</div>
  <button type="submit" class="btn btn-primary">Submit Request</button>
</form>

</div>
