div {
  height: 7.45vw;
  background-image: linear-gradient(rgb(17, 17, 138), rgb(3, 70, 172));
  width: 41vw;
  display: block;
  margin: 0;

  /* padding: 0; */
}

.title {
  padding: 1em;
  text-align: center;
  border: .05em solid rgb(63, 56, 56);
  color: white;
  font-family: Cachet;
  /* font-size: 85%; */
  font-size: 2vw;

}

.borderProp {
  border: .05em solid rgb(63, 56, 56);
  margin-bottom: .1em;
}

.borderProp1 {
  border: .05em solid rgb(63, 56, 56);
}

h1 {
  /* font-size: 400%; */
  color: rgba(144, 250, 245, 0.527);
  padding-top: .4em;
  padding-left: 1.5em;
  padding-bottom: .3em;
  font-size: 1vw;
}

.ruleOne, .ruleTwo, .ruleThree {
  display: flex;

}

.titleNames {
  font-family: Cachet;
  padding-top: 1.3em;
  padding-left: .4em;
  color: cornsilk;
  /* font-size: 120%; */
  text-align: center;
  font-size: 2vw;
}

p {
  color: white;
}

.text {
  /* display: inline-block; */
  font-family: Cachet;
  margin-top: -1em;
  padding-left: 1em;
  text-align: left;
  /* font-size: 110%; */
  font-size: 1.10vw;
}

.lastTitle {
  padding-top: .7em;
  padding-left: .3em;
  color: cornsilk;
  font-family: Cachet;
  /* font-size: 130%; */
  text-align: center;
  font-size: 2vw;
}

.lastOne {
  padding-top: 1.8em;
  padding-bottom: -2em;
  cursor: pointer;
}
