<div>
  <div class="title">
    <strong>THE 3 ESSENTIAL RULES OF WATER SAFETY</strong>
  </div>

  <div class="borderProp">
    <span class="ruleOne">
        <h1 class="numbers">
          <strong>1</strong>
        </h1>
        <h4 class="titleNames">TEST & TEACH</h4>
    </span>
    <p class="text">Have your child’s swimming skills tested at your local YMCA.</p>
  </div>

  <div class="borderProp">
      <span class="ruleTwo">
          <h1 class="numbers">
            <strong>2</strong>
          </h1>
          <h4 class="titleNames">WATCH & GUARD</h4>
      </span>
      <p class="text">Appoint an adult to supervise all pool activities. Add barriers around your pool.</p>
  </div>

  <div class="borderProp">
      <span class="ruleThree">
          <h1 class="numbers">
            <strong>3</strong>
          </h1>
          <h4 class="titleNames">THE RIGHT EQUIPMENT</h4>
      </span>
      <p class="text">Layers of protection can keep children who wander off from falling into the pool.</p>
  </div>

  <div class="lastOne borderProp">
    <h4 class="lastTitle" routerLink="/drowning-prevention">LEARN MORE >></h4>
  </div>
</div>
