.carousel-inner img {
    margin: auto;
    font-family: Cachet;
}
body {
    padding-top: 50px; 
    padding:  50px; 
    font-family: Cachet;
}
.badge-danger {
    
    vertical-align: super;
    font-size: large; 
    font-family: Cachet;
}

h1{
    font-family: Cachet;
}
h3{
    font-family: Cachet;
}
h5{
    font-family: Cachet;
}
h6{
    font-family: Cachet;
}