<div class="container">
  <div class="row bg-danger">
    <div class="col">
      <div>Nav goes here!
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>




  <div class="row bg-dark">

    <div class="col">
      <h1 class="text-danger">Drowning Prevention</h1>

      <!-- Drowning Facts Section -->

      <h3 class="text-light">Drwoning Facts:</h3>

      <p class="text-justify text-light">Drowning is preventable and requires everyone doing their part. Taking swimming lessons, wearing Coast Guard approved flotation devices and adequate adult supervision are essential to drowning prevention.</p>

      <h5 class="text-light">Drowning Statistics:</h5>

      <ul class="text-light">
        <li>Drowning is the leading cause of death for children ages 1-4 and the second leading cause of accidental death for children under 14 years of age.</li>
        <li>Children under one years of age most often drown in a bathtub, toilet, or bucket.</li>
        <li>Most drowning events happen in water not at the child’s home – at swim parties, or a family’s or neighbor’s house.</li>
        <li>94% of parents supervise their children while swimming, however many admit they are engaged in other distracting activities during that time.</li>
        <li>Children’s Health treats approximately 100 children for drowning/near-drowning incidents each year. Approximately 3,500 children are treated in emergency rooms for near drowning incidents each year.</li>
        <li>More than 900 children lose their lives drowning each year in the United States. For every child who dies by drowning, another four are hospitalized. Many never recover from brain damage that occurs while they are under water.</li>
        <li>Drowning is a silent event. Children will rarely scream, call out or splash for help.</li>
        <li>Submersion takes less than 10 seconds. Losing consciousness takes 2 minutes. Permanent brain damage takes only 4-6 minutes.</li>
      </ul>

      <h5 class="text-light">Children at Increased Risk:</h5>

      <ul class="text-light">
        <li>Minorities are at a significantly increased risk drowning.</li>
        <li>African American children between ages 5-19 are 2.63 times more likely to drown than Caucasian children.</li>
        <li>Males are more at risk for drowning than females.</li>
        <li>Low-income children have a higher risk of drowning.</li>
      </ul>

      <!-- Pool Safety Tips -->

      <hr class="border border-light">

      <h3 class="text-light">Pool Safety Tips:</h3>

      <p class="text-justify text-light">Here are some helpful water safety tips to keep your pool safe year around.</p>

      <h5 class="text-light">Preparing to swim:</h5>

      <ul class="text-light">
        <li>Enroll your child in swimming lessons. Children as young as 6 months can take swimming lessons. Click <a href="https://www.ymcadallas.org/youth_development/swim_sports__play/swim_lessons/">here</a> here to learn more about the YMCA swim lesson curriculums and to find a location near you. </li>
        <li>Assess your child’s swimming ability annually. Click <a href="https://www.ymcadallas.org/youth_development/swim_sports__play/swim_lessons/free_swim_assessment/">here</a> to request a free swimming assessment.</li>
        <li>Parents, babysitters, guardians and anyone over 14 should learn CPR.</li>
        <li>Teach children how to dial 911 in case of an emergency.</li>
        <li>Keep a telephone near the pool. In case of emergency, dial 911.</li>
        <li>Have a professional pool service technician perform an annual pool safety inspection.</li>

      </ul>

      <h5 class="text-light">When your pool is being used:</h5>

      <ul class="text-light">
        <li>Assign an adult to actively supervise the pool at all times. Click <a href="#">here</a> to request a free water watcher tag. </li>
        <li>Keep constant visual contact with children in the pool. Touch supervision is essential for small children and those who can’t swim.</li>
        <li>Never leave a child alone in a pool or spa even for a second.</li>
        <li>Keep a telephone near the pool. In case of emergency, dial 911.</li>
        <li>Children and inexperienced swimmers should wear life jackets whenever in, on and around the water, even if a lifeguard is present.</li>
        <li>Keep non-pool toys like big wheels, wagons, tricycles, etc. away from the pool.</li>
        <li>Do not allow diving in the shallow end of the pool.</li>
        <li>All toys should be taken out of the pool when not in use.</li>
        <li>Never allow swimming in an unlit pool after dark.</li>
      </ul>

      <h5 class="text-light">When your pool is not in use:</h5>

      <ul class="text-light">
        <li>Make sure all fence gates and doors leading to the pool area are self-closing and self-latching. All latches should be above a child’s reach.</li>
        <li>Restrict a child’s access to the pool when there is not adequate supervision.</li>
        <li>Keep doors and gates locked.</li>
        <li>Use an approved safety cover and non-climbable fence.</li>
        <li>Drain standing water from pool covers.</li>
        <li>Keep chairs and other climbable items away from the fence.</li>
      </ul>







    </div> <!--end of col-->
  </div> <!--end of row-->
  <div class="row bg-warning">
    <div class="col">
        <div>footer goes here</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>
</div> <!--end of container -->
