<app-navbar></app-navbar>
<app-three-top></app-three-top>
<body>
  <div class="row">
    <div class="col=3">
        <!-- <img src="../../assets/dangers/circle.png"  image-Height="2px" image-Width="2px"> -->
    </div>
    <div class="col=9">
      <h3>
          THE MINUTE YOU CONFUSE A TOY WITH A FLOTATION DEVICE
      </h3>
      <h6>
          There’s a difference between a Coast Guard-approved flotation device and an inflatable pool toy. One looks adorable on a three-year-old, but is worthless in protecting your child from drowning. Take a minute and supply your pool with approved PFDs and life vests.
      </h6>
    </div>

  </div>
  <div class="row">
      <h3>
          THE ONE MINUTE TEXT MESSAGE
      </h3>
      <h6>
          The time it takes to read a text message or answer a phone call is all it takes for a child to drown. Never assume that because several adults are by the pool, someone is watching the kids. Play it safe. Assign one adult, a Water Watcher, to supervise pool activities at all times
      </h6>

  </div>
  <div class="row">
    <h3>
        THE MINUTE SOMEONE IS A HERO
    </h3>
    <h6>
        The only thing scarier than a child beginning to drown is the person who tries to be a hero. The instinct to dive in and rescue is one you need to overcome. Typically, the panicking child will cause the one attempting a rescue to drown with them. If you see someone struggling in the water, stay on land and toss him or her a flotation device, extend to them a rope or hold out a pole.
    </h6>

  </div>
  <div class="row">
      <h3>
          THE MINUTE YOU LEAVE THE GATE OPEN
        </h3>
        <h6>
            When not in use, pools should be fenced and gates should be kept locked. Recent studies indicate that having a four-sided fence around a pool can reduce drownings by up to 80%. But a fence is of little value if the gate is left unlocked.
        </h6>

    </div>
    <div class="row">
        <h3>
            THE ONE MINUTE SUN BATH
          </h3>
          <h6>
              When children are at the pool your undivided attention needs to be on watching them. Not working on your tan, squirting sunscreen or taking a one-minute siesta. Even if your children have had swimming lessons, you need to supervise them closely.
          </h6>

      </div>

</body>
<app-footer></app-footer>
