@font-face {
  font-family: Cachet;
  src:url("../../assets/CachetStd-Medium.otf") format("opentype");
}

.nav-link{color: #003366!important;}
.custom-toggler.navbar-toggler {border-color: #003366;}
.custom-toggler .navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.custom-toggler .navbar-toggler-icon{width: 18px!important;}
.custom-toggler:hover{border-color: rgb(255,255,255); background-color: #f76a88;} */
.navbar-toggler-icon:hover{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
@media only screen and (max-width: 760px) {
  #logo1 {
    width: 20%;
  }
}

.active {
  color:red;
}

.logos {
  display: inline-block;
  width: 5%;
}

.logos1 {
  display: inline-block;
  width: 7%;
}

#logo3 {
  width: 130%;
  display: block;
  margin: 0;
}

#logo2 {
  width: 110%;
  display: block;
  margin: 0;
}

.custom-navbar {
  border: 0.05em solid rgba(0, 0, 255, 0.555);
}

.navbar {
  font-family: Cachet;
}
