<app-navbar></app-navbar>
<div style="background-color: white;">
  <br>
  <div>
    <h1 class="top-left">ABOUT US</h1>
    <br>
  </div>

  <br>
  <div id="content">
    <div>
        <img id="safety" src="../../assets/aboutuspic.png" align="right">
      </div>
    <div class="intro">
      <i> Know Before You Go </i> is a drowning prevention and water safety education program created to educate the Dallas-Fort Worth area community on the dangers of drowning and the rules of effective water safety.
      Children’s Health, YMCA of Metropolitan Dallas, Alliance Data, Safe Kids Greater Dallas Coalition and Independent Pool and Spa Service Association (IPSSA) have partnered to provide the area with effective swimming safety presentations and on-going educational information.
    </div>
</div>

<div id="first-section">
  <div class="ourmission">
    <u>Our Mission</u>
  </div>
  <div class="mission">
    The mission of the Know Before You Go program is to promote water safety awareness within the greater Dallas community.
  </div>
</div>

<div id="second-section">
  <div class="historyH">
    <u> History </u>
  </div>
  <div class="history">
    Know Before You Go was created in 2002 as a collaborate effort between Children’s Health (then, Children’s Medical Center), YMCA of Metropolitan Dallas, Alliance Data, Safe Kids Greater Dallas Coalition, and the Independent Pool and Spa Service Association (IPSSA). The program was built to address the increasing number of drowning and near-drowning incidents in children living in the Dallas-Fort Worth area. Since its start Know Before You Go has expanded water safety education and resources into school districts, apartment complexes, backyard pools, and high-risk communities. Our approach is to partner with organizations and community leaders to serve over 3,000 children and adults per year. Research is a core component of the program, allowing us to provide evidence-based curricula to better serve our communities.
  </div>
</div>
</div>
<app-footer></app-footer>
