<app-navbar></app-navbar>
<app-three-top></app-three-top>
<div style="background-color: white;">
  <br>
  <div class="main">
    <h1 class="top-left">ABOUT US</h1>
    <br>
  </div>

  <br>
  <div id="content">
    <img id="safety" src="assets/aboutuspic.jpg" align="right">
    <div class="intro">
      <i> Know Before You Go </i> is a drowning prevention and water safety education program created to educate the Dallas-Fort Worth area community on the dangers of drowning and the rules of effective water safety.
    </div>

  <div class="ourmission">
    Our Mission
  </div>
  <div class="mission">
    The mission of the Know Before You Go program is to promote water safety awareness within the greater Dallas community.
  </div>

  <div class="historyH">
    History
  </div>
  <div class="history">
    Know Before You Go was created in 2002 as a collaborate effort between Children’s Health (then, Children’s Medical Center), YMCA of Metropolitan Dallas, Alliance Data, Safe Kids Greater Dallas Coalition, and the Independent Pool and Spa Service Association (IPSSA). The program was built to address the increasing number of drowning and near-drowning incidents in children living in the Dallas-Fort Worth area.
  </div>
</div>
<app-footer></app-footer>
