#top-img {
  width:100%;
  height:8em;
  object-fit: cover;
  opacity: .65;
}


.container {
  position: relative;
}

.main {
  padding-top: 1em;
}
.top-left {
  position: absolute;
  padding-left: .7em;
  font-size: 230%;
  font-family: Cachet;
  color: rgb(52, 122, 189);
}

h3 {
  font-family: Cachet;
}

.intro, .mission, .history {
  font-size: 110%;
  margin-left: 1.8em;
  padding-right: 1.4em;
  padding-bottom: 2.7em;
  font-family: Verdana;
  line-height: 1.3;
}

.ourmission, .historyH {
  padding-top: 1.5em;
  font-size: 150%;
  font-weight: bold;
  margin-left: 1.5em;
  font-family: Cachet;
  line-height:1.5;
  color: white;
}

#safety {
  width: 22%;
  margin-left: 2.8em;
  margin-top: -3.7em;
  margin-right: 2.5em;
}

html {
  overflow-y: scroll;
}

#first-section {
  background: rgba(63, 194, 211, 0.74);
}

#second-section {
  background: rgba(214, 141, 5, 0.61);
}

aside {
  float: right;
  margin-left: .7em;
  margin-bottom: .5em;
}

@media (max-width: 50em) {
  aside {
    display: none;
  }
}

@media (max-width: 45em) {
  img {
    padding-top: 5em;
    size: 100%;
    height: auto;
    display: block;
  }
}
