@font-face {
  font-family: Cachet;
  src:url("../../assets/CachetStd-Medium.otf") format("opentype");
}

#top-img {
  size:100%;
  height:8em;
  object-fit: cover;
}


.container {
  position: relative;
}

.main {
  padding-top: 1em;
}
.top-left {
  position: absolute;
  padding-left: .7em;
  font-size: 250%;
  font-weight: bold;
  font-family: Cachet;
  color: black;
  padding-bottom: -.5em;
}

h3 {
  font-family: Cachet;
}

.intro, .mission, .history {
  font-size: 110%;
  margin-left: 1.6em;
  padding-right: 1.4em;
  padding-bottom: 2em;
  font-family: Cachet;
  line-height: 1.8;
}

.history {
  padding-bottom: 2.5em;
}

.ourmission, .historyH {
  padding-top: 1.5em;
  font-size: 250%;
  font-weight: bold;
  margin-left: .7em;
  font-family: Cachet;
  line-height:1.5;
  color: black;
}

#safety {
  width: 22%;
  margin-left: 2.8em;
  margin-top: -3.7em;
  margin-right: 2.5em;
}

html {
  overflow-y: scroll;
}

@media (max-width: 45em) {
  img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    padding-bottom: 1em;
  }

  #safety {
    width: 80%;
  }

  .top-left {
    padding-top: 5.3em;
  }
}
