<div class="body">
  <ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item">
      <div class="therules">
        THE 3 ESSENTIAL RULES OF WATER SAFETY
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4>
          <strong class="bignumbers">1</strong>
          TEST & TEACH
        </h4>
      </div>
    </li>
    <li class="list-group-item">
        <div>
          <h4>
            <strong>2</strong>
            WATCH & GUARD
          </h4>
        </div>
    </li>
    <li class="list-group-item">
        <div>
          <h4>
            <strong>3</strong>
            THE RIGHT EQUIPMENT
          </h4>
        </div>
      </li>
  </ul>
</div>
