<div class="body">
  <ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item">
      <div class="therules">
        THE 3 ESSENTIAL RULES OF WATER SAFETY
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4 data-toggle="collapse" data-target="#ruleOne" title="click to learn more">
          <strong class="bignumbers">1</strong>
          TEST & TEACH
        </h4>
      </div>
    </li>
    <li class="list-group-item">
        <div>
          <h4 data-toggle="collapse" data-target="#ruleTwo" title="click to learn more">
            <strong>2</strong>
            WATCH & GUARD
          </h4>
        </div>
    </li>
    <li class="list-group-item">
        <div>
          <h4 data-toggle="collapse" data-target="#ruleThree" title="click to learn more">
            <strong>3</strong>
            THE RIGHT EQUIPMENT
          </h4>
        </div>
      </li>
  </ul>
  <div class="collapse" id="ruleOne">
      <div class="card card-body">
          1. TEST & TEACH. Have your child’s swimming skills tested at your local YMCA at no cost. If your child is not
          a strong swimmer, enroll him or her in swim classes. The YMCA offers swimming classes for
          children six months and up..
      </div>
  </div>
  <div class="collapse" id="ruleTwo">
      <div class="card card-body">
          2. WATCH & GUARD. Never leave a child alone in or around the water. Assign an adult “Water Watcher” who can
          focus on the water without distraction. Touch supervision is essential for young children and those who can’t swim.
      </div>
  </div>
  <div class="collapse" id="ruleThree">
      <div class="card card-body">
          3. THE RIGHT EQUIPMENT. Layers of protection, like a non-climbable fence with a self-locking gate, can keep children who wander off from falling into the pool. Young children and poor swimmers should always wear life jackets, and remember to put them back on if they are taken off for any reason. Safer pools have rescue equipment like pool noodles, a ring buoy and quick access to a telephone.
      </div>
  </div>
</div>
