<app-navbar></app-navbar>
<div class = "container">
<div class="field-media-image"> <img src="../../assets/mroom.png" width="900" height="210" typeof="foaf:Image" /></div>
<div class="media-room" id="secondary-header-img-area">
  <div>
  <h1>Media Room</h1>
  <h2>Media Inquires</h2>
<p>For media inquires, please email<a href="mailto:mediarelations@childrens.com"> mediarelations@childrens.com</a></p>
</div>
<div class = "media-room" id="tvspots1">
  <h2>TV Spots</h2>
<iframe width="600" height="315" src="https://www.youtube.com/embed/G3VcChB4C0o">
  <figcaption class="figure-caption">Know Before You Go TV Spot (:30) – English</figcaption>
</iframe>
<br>
</div>

<div class="media-room" id="tvspots2">
<iframe width="600" height="315" src="https://www.youtube.com/embed/ZNZyAgDnDcU">
  <figcaption class="figure-caption">Know Before You Go TV Spot (:30) – Spanish</figcaption>
</iframe>
<br>
</div>

<div class = "media-room" id="safety">
<iframe width="600" height="315" src="https://www.youtube.com/embed/VfO2HXWxB04">
<figcaption class="figure-caption">Children’s Health on Good Morning Texas: Water Safety</figcaption>
</iframe>
<br>
</div>
</div>
</div>


<app-footer></app-footer>
