<app-navbar></app-navbar>
<app-three-top></app-three-top>
<div class = "container bg-light">
<div class="media-room" id="secondary-header-img-area">
  <div>
  <h2>Media Inquires</h2>
<p>For media inquires, please email<a href="mailto:mediarelations@childrens.com"> mediarelations@childrens.com</a></p>
</div>


<body>
  <!-- MEDIA ROOM -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card  h-10" style="width: 20rem;">
          <iframe class="english_video" src="https://www.youtube.com/embed/G3VcChB4C0o" alt="English Video"> </iframe>
          <div class="card-body">
            <h5 class="card-title">Know Before You Go TV Spot – English</h5>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card  h-10" style="width: 20rem;">
          <iframe class="spanish_video" src="https://www.youtube.com/embed/ZNZyAgDnDcU" alt=" Spanish Video"></iframe>
          <div class="card-body">
            <h5 class="card-title">Know Before You Go TV Spot – Spanish</h5>
          </div>
        </div>
      </div>


        <div class="col-sm">
          <div class="card  h-10" style="width: 20rem;">
            <iframe class="tv_video" src="https://www.youtube.com/embed/VfO2HXWxB04" alt="Tv Video"> </iframe>
            <div class="card-body">
              <h5 class="card-title">Childrens Health - Water Safety</h5>
            </div>
          </div>
        </div>

    </div>
  </div>
    <br>
  </body>


</div>
</div>
<app-footer></app-footer>
