<app-navbar></app-navbar>


<div class="resources">
  <div class="titleBanner">
    <br><h1 class="titlerec">Resources</h1>
    <p>*Order your water safety packet, which includes a coloring book, brochure, and water watcher tag (English or Spanish) – Email us at <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
  </div>

  <div class="books">
    <h2 class="WSbooks">Water Saftey Books</h2>

      <p>These books are helpful tools to teaching your child about the importance of water safety.</p><br>

          <a href="http://www.stewietheduck.com/home.cfm">
          <img class= "stewpic" src="../../assets/stewiebook.png"></a><br><br>

          <!--
          <b>Stewie the Duck Learns to Swim</b><br>
          <p>Follow the adventures of Stewie the Duck as he demonstrates the right and wrong ways to behave in water.</p><br>

          <b>A Summer Safety Adventure in Dallas</b><br>
          <p>This effective water safety book will help people of all ages understand what they can do to reduce the number of drownings in the Dallas-Fort Worth area.<br>Download your copy here (no link given).</p>
          -->
  </div>


<div class="Viddiv">
    <h2 class="WSvids">Water Saftey Videos</h2>



    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe width="75%" height="800" src="https://www.youtube.com/embed/jKpI_yfzRKk"></iframe>
          <div class="carousel-caption d-none d-md-block">
              <h5>Top 5 Water Safety Tips</h5>
          </div>
        </div>
        <div class="carousel-item">
          <iframe width="75%" height="800" src="https://www.youtube.com/embed/jKpI_yfzRKk"></iframe>
          <div class="carousel-caption d-none d-md-block">
              <h5>Water Safety</h5>
          </div>
        </div>
        <div class="carousel-item">
          <iframe width="75%" height="800" src="https://www.youtube.com/embed/_NM0x9LoE2o"></iframe>
          <div class="carousel-caption d-none d-md-block">
              <h5>Swimming Lessons</h5>
          </div>
        </div>
        <div class="carousel-item">
          <iframe width="75%" height="800" src="https://youtube.com/embed/RLIcAup8Y7I"></iframe>
          <div class="carousel-caption d-none d-md-block">
              <h5>Pool Safety Fencing</h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    </div>

    <!--
      <div class="vids">
        <b>Top 5 Water Safety Tips</b><br><iframe width="75%" height="800" src="https://www.youtube.com/embed/jKpI_yfzRKk"></iframe><br><br>
        <b>Water Safety (same link as above?)</b><br><iframe width="75%" height="800" src="https://www.youtube.com/embed/jKpI_yfzRKk"></iframe><br><br>
        <b>Swimming Lessons</b><br><iframe width="75%" height="800" src="https://www.youtube.com/embed/_NM0x9LoE2o"></iframe><br><br>
        <b>Pool Safety Fencing</b><br><iframe width="75%" height="800" src="https://youtube.com/embed/RLIcAup8Y7I"></iframe><br><br>
      </div>
    -->
</div>

<div class="physical">
    <h2>Water Watcher Tag</h2>
      <p>
        Any time children are in the pool, designate an adult to be the Water Watcher. This dedicated observer must commit to
        actively supervising children in the water at all times; not texting, reading, socializing, drinking, etc.<br>
        Download a water watcher tag today or email <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a> to request one be sent to you free-of-charge in the mail.
      </p>
    <h2>Water Safety Brochure</h2>
      <p>
        Download a water safety brochure here. (no link given)
      </p>
    <h2>Water Safety Tip Sheet <b><i>– coming with redesign</i></b></h2>
      <p>
        Download a water safety tip sheet here. (no link given)
      </p>
</div>
</div>

<app-footer></app-footer>
