@font-face {
  font-family: Cachet;
  src:url("../../assets/CachetStd-Medium.otf") format("opentype");
}

br {
  display: block;
  margin: 5em;
}

h1, h2, h3{
  font-family: Cachet;
}

p{
  padding-left: .5em;
  font-family: Cachet;
}


.titlerec{
  padding-left: 1em;
}

.vids{
  margin: auto;
  column-count: 2;
  width: 60%;
  text-align: center;
}

.books{
  margin: auto;
  width: 50%;
  text-align: center;
}

.Top5WSTipsPic{
  height: 50%;
  width: 50%;
}

 .WSvids, .WSbooks{
  text-align: center;
}

.resources{
  padding-bottom: 6%;
}
