<div class="resources">
  <div>
    
    <h1>Resources</h1>
      <p>*Order your water safety packet, which includes a coloring book, brochure, and water watcher tag (English or Spanish) – Email us at <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
    <h2>Water Saftey Books</h2>
      <p>
        These books are helpful tools to teaching your child about the importance of water safety.<br>
        <b>Stewie the Duck Learns to Swim</b><br>
        Follow the adventures of Stewie the Duck as he demonstrates the right and wrong ways to behave in water. Download your copy <a href="http://www.stewietheduck.com/home.cfm">here</a>.<br>
        <b>A Summer Safety Adventure in Dallas</b><br>
        This effective water safety book will help people of all ages understand what they can do to reduce the number of drownings in the Dallas-Fort Worth area. Download your copy here (no link given).
      </p>

    <h2>Water Saftey Videos</h2>
      <p>
        Watch and share these videos on water safety and drowning prevention.<br>
        <b>Top 5 Water Safety Tips - </b> <a href="https://www.youtube.com/watch?v=jKpI_yfzRKk">https://www.youtube.com/watch?v=jKpI_yfzRKk</a><br>
        <b>Water Safety (same link as above?) - </b> <a href="https://www.youtube.com/watch?v=jKpI_yfzRKk">https://www.youtube.com/watch?v=jKpI_yfzRKk</a><br>
        <b>Swimming Lessons - </b> <a href="https://www.youtube.com/watch?v=_NM0x9LoE2o">https://www.youtube.com/watch?v=_NM0x9LoE2o</a><br>
        <b>Pool Safety Fencing - </b> <a href="https://youtu.be/RLIcAup8Y7I">https://youtu.be/RLIcAup8Y7I</a><br>
      </p>

    <h2>Water Watcher Tag</h2>
      <p>
        Any time children are in the pool, designate an adult to be the Water Watcher. This dedicated observer must commit to
        actively supervising children in the water at all times; not texting, reading, socializing, drinking, etc.<br>
        Download a water watcher tag today or email <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a> to request one be sent to you free-of-charge in the mail.
      </p>
    <h2>Water Safety Brochure</h2>
      <p>
        Download a water safety brochure here. (no link given)
      </p>
    <h2>Water Safety Tip Sheet <b><i>– coming with redesign</i></b></h2>
      <p>
        Download a water safety tip sheet here. (no link given)
      </p>

  </div>
</div>
