<app-navbar></app-navbar>
<app-three-top></app-three-top>

<div class="resources">
  <div class="titleBanner">
    <br><h1 class="titlerec">Resources</h1>
    <p>*Order your water safety packet, which includes a coloring book, brochure, and water watcher tag (English or Spanish) – Email us at <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a></p>
  </div>

  <div class="books">
    <h2 class="WSbooks">Water Saftey Books</h2>

      <p>These books are helpful tools to teaching your child about the importance of water safety.</p><br>

          <a href="http://www.stewietheduck.com/home.cfm">
          <img class= "stewpic" src="../../assets/stewiebook.jpg"></a><br><br>

          <!--
          <b>Stewie the Duck Learns to Swim</b><br>
          <p>Follow the adventures of Stewie the Duck as he demonstrates the right and wrong ways to behave in water.</p><br>

          <b>A Summer Safety Adventure in Dallas</b><br>
          <p>This effective water safety book will help people of all ages understand what they can do to reduce the number of drownings in the Dallas-Fort Worth area.<br>Download your copy here (no link given).</p>
          -->
  </div>


<div class="Viddiv">
    <h2 class="WSvids">Water Saftey Videos</h2>

    <div class="row">
      <div align="center" class="col-xl-4">
        <b>Top 5 Water Safety Tips</b><br><iframe src="https://www.youtube.com/embed/jKpI_yfzRKk"></iframe><br><br>
      </div>

      <div align="center" class="col-xl-4">
        <b>Swimming Lessons</b><br><iframe src="https://www.youtube.com/embed/_NM0x9LoE2o"></iframe><br><br>
      </div>

      <div align="center" class="col-xl-4">
        <b>Pool Safety Fencing</b><br><iframe src="https://youtube.com/embed/RLIcAup8Y7I"></iframe><br><br>
      </div>
    </div>


</div>


<div class="physical">
  <div class="row">
    <div align="center" class="col-xl-6">
      <h2>Water Watcher Tag</h2><br>
        <p>
          Any time children are in the pool, designate an adult to be the Water Watcher. This dedicated observer must commit to
          actively supervising children in the water at all times; not texting, reading, socializing, drinking, etc.<br><br>
          Download a <a href="../../assets/Water Watcher Tag.pdf">water watcher tag</a> today or email <a href="mailto:KBYG@childrens.com">KBYG@childrens.com</a> to request one be sent to you free-of-charge in the mail.<br>
          <a href="../../assets/Water Watcher Tag.pdf"><img src="../../assets/watchertagframed.png"></a>
        </p>
    </div>
    <div align="center" class="col-xl-6">
      <h2>Water Safety Brochure</h2>
        <p>
          Download <a href="../../assets/KBYG Brochure.pdf">here<br><img src="../../assets/KBYG Brochure.png"></a>
        </p>
    </div>
  </div>
  <div class="row">
    <div align="center" class="col-xl-12">
      <h2>Water Safety Tip Sheet</h2>
        <p>
          Download a water safety tip sheet <a href="../../assets/tipsheet.PDF">here<br><img src="../../assets/tipsheet.png"></a>.
        </p>
    </div>
  </div>

</div>

</div>

<app-footer></app-footer>
