@font-face {
  font-family: Cachet;
  src:url("../../assets/CachetStd-Medium.otf") format("opentype");
}

br {
  margin: 5em;
}

h1, h2, h3{
  font-family: Cachet;
}

p{
  padding-left: .5em;
  font-family: Cachet;
  display: inline-block;
}

.carousel-indicators{
  position: static;
}

.carousel-caption{
  position: static;

}

.resources{
  background: #eeeeee;
  text-align: center;
}

.titlerec{
  padding-left: 1em;
}


.column{
  float: left;
  width: 50%;
  padding-left: 1%;
}

.vids{
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
  padding-left: -1%;
}

iframe{
  height: 200px;
  width: 350px;

}

 .WSvids, .WSbooks{
  text-align: center;
}
